<h1> <%= @album.title %> </h1>

<table>
    <thead>
    <tr>
    <th>likes</th>
    <th>Song</th>
    <th>Artist</th>
    </tr>
    </thead>

    <tbody>
    <% @album.songs.each do |song| %>
        <tr>
            <td><%= check_box_tag @user.liked_song %></td>
            <td><%= song.name %></td>
            <td><%= song.artist.name %></td>
        </tr>
    <%end%>
    </tbody>
</table>