// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(185, 19, 130);
th{
    font-size: 36;
    }

#table {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 20;
  padding: 20;
 
}
