#head {
    white-space: nowrap;
    font-size: 50px;
   }
#head * {
    display: inline;
    margin-top: -50px;
    margin-bottom: 20px;
    font-size: 50px;
   }
table {
    font-size: 18px;
   }
th, td { 
    width: 1fr 5fr 3fr; 
    padding:5px 
} 
body{
}


#heart {
    font-size: 32px;
}







