body {
    background-color: rgb(58, 57, 57);
    margin: 100px;
    color: coral;
    font-family: Arial;
}
#album {
    width: 2fr;
   }
span {
    padding-left: 10px;
    padding-right: 10px;
   }
div{
}