body {
    background-color: rgb(58, 57, 57);
    margin: 100px;
    color: coral;
    font-family: Arial;
}
#album {
    width: 2fr;
   }
span {
    padding-left: 12px;
    padding-right: 12px;
   }
div{
}
.column {
    flex: 50%;
    padding: 10px;
  }
  #link {
    font-size: 20px;
}
  #albumtitle {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 5px;
}
